<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        This is index
        @RenderPage("Views/topics.cshtml")
    </div>
</body>
</html>
