<section id="questions-view">

    <nav>
        <ul data-bind="foreach: questions">
            <li>
                <a>
                    <span data-bind="text: text"></span>
                    <span data-bind="text: topicId"></span>
                </a>
            </li>
        </ul>
    </nav>

    @*<div data-bind="template: {name: filterTemplate}"></div>

        <section class="view-list" data-bind="template: {name: sessionTemplate, foreach: sessions}"></section>*@

    <!-- Knockout Debugging -->
    <!--
        <div style="border:white dotted thin">
            <h4>Sessions JSON</h4>
            <pre data-bind="text:ko.utils.debugInfo(sessions)"></pre>
        </div>
    -->

</section>